body {
    background-color: #22543d;
    background-image: linear-gradient(#22543d 0%, #a3a948 50%, #f7e8a5 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#barrat {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 2em;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    margin: 10px;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.btn img {
    max-width: 100%;
    height: auto;
    display: block;
}
