* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #7F7FD5;
    background-image: linear-gradient(#7F7FD5 0%, #86A8E7 50%, #5d817f 100%);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 80%;
    transition: transform 0.3s ease;
    overflow: auto;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #86A8E7;
    color: white;
}

tr:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.6);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.6);
}

tr:hover {
    background-color: rgba(221, 221, 221, 0.6);
}

button {
    display: block;
    padding: 10px 15px;
    margin: 30px auto;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: #7F7FD5;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #86A8E7;
}
