@font-face{
    font-family:"Caveat";
    src: url('../Assets/Media/Caveat/Caveat-VariableFont_wght.ttf');
}
@font-face{
    font-family:"AmaticSC-Regular";
    src: url('../Assets/Media/Amatic_SC/AmaticSC-Bold.ttf');
}
@font-face{
    font-family:"Great vibes";
    src: url('../Assets/Media/Great_Vibes/GreatVibes-Regular.ttf');
}
@font-face{
    font-family:"Signika";
    src: url('../Assets/Media/Signika/Signika-VariableFont_wght.ttf');
}
body{
    background-image: linear-gradient(#201818 0%, #5d00f3 50%, #71b9da 100%);
    min-height: 700px ; 
}
.tuspuntos{
    font-family:"Signika";
    text-align: center;
    color:rgb(143, 255, 255);
}
.casa{
    font-family:"Signika";
	text-align: justify; 
    text-align: center;
    color:rgb(143, 255, 255);
}

.sumar{
    background-color: rgb(232, 159, 159);
}
.cuadrito{
    text-align: center;
}

.restar{
    background-color: rgba(72, 72, 234, 0.74);
}

.enviar{
    background-color: rgb(150, 224, 150);
}

#titulo{
    color:rgb(18, 18, 18);
	font-family:"AmaticSC-Regular";
	text-align: justify;
    text-align: center;
    background-color: rgb(93, 0, 214);
	height: 20% ; 
	font-size: 3rem;
    border-radius: 100px;
}

.puntaje{
    font-family:"Great vibes";
    text-align: center;
    background-color: rgba(132, 190, 218, 0.765);
    font-size: 1.8rem
    
}