@font-face{
    font-family:"Caveat";
    src: url('../Assets/Media/Caveat/Caveat-VariableFont_wght.ttf');
}
@font-face{
    font-family:"AmaticSC-Regular";
    src: url('../Assets/Media/Amatic_SC/AmaticSC-Bold.ttf');
}
@font-face{
    font-family:"Great vibes";
    src: url('../Assets/Media/Great_Vibes/GreatVibes-Regular.ttf');
}
@font-face{
    font-family:"Signika";
    src: url('../Assets/Media/Signika/Signika-VariableFont_wght.ttf');
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
    background-image: linear-gradient(45deg, #F3E6E3 0%, #F7F7F7 50%, #AEDFF7 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo {
    color: #5D6D7E;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tuspuntos, .casa, .puntaje {
    text-align: center;
    color: #5D6D7E;
    margin-bottom: 20px;
    font-size: 18px;
}

.cuadrito {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 20px 20px 15px 5px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.cuadrito:hover {
    transform: scale(1.05);
}

.sumar, .restar {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50px;
    border: none;
    background-color: #AED6F1;
    color: #5D6D7E;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sumar:hover, .restar:hover {
    background-color: #85C1E9;
}

#cantidad {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    border: none;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

#cantidad:focus {
    background-color: #e0e0f0;
    outline: none;
}

.enviar {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    background-color: #AED6F1;
    color: #5D6D7E;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enviar:hover {
    background-color: #85C1E9;
}
