body
{
  background-color: #92C5FC;  
}

#barrat
{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: xx-large;
    color: white;
    background-color: #288BA8;
    height: 100px;
}