<!DOCTYPE html>
<html>
<head>
  <title>Registro</title>
  <link rel="stylesheet" type="text/css" href="../Statics/Styles/styleRe.css">
  <script src="../dynamics/js/main.js"></script>
  <meta charset="UTF-8">
</head>
<body>
<div class="container">
  <h2>Registro</h2>
  <form method="POST" action="./seleccionarCasa.html" onsubmit="return validarContrasena()">
    <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required><br>
    <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Ingresa tu usuario" required><br>

    <input type="password" id="contraRe" name="contraRe" placeholder="Ingresa tu contraseña" required><br>

    <input type="password" id="confirmarContraRe" name="confirmarContraRe" placeholder="Confirma tu contraseña" required><br>

    <input type="button" onclick="mostrarContraRe()" value="Ver Contraseña" class="btn"><br>

    <input type="submit" value="Registrar" class="btn">
  </form>
</div>
</body>
</html>
