<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/Styles/select.css">
    <title>Document</title>
</head>
<body>
     <header id="barrat">Selecciona tu casa</header>
    <main>
        <div id="btnaj" >
            <img src="../Statics/Assets/Media/botonajsf.png" usemap="#image-map">
            <map name="image-map">
            <area target="_self" alt="btn" title="btn" href="../Dynamics/php/registroc.php" coords="19,9,267,351" shape="rect">
        </div>
        <div id="btnha" >
            <img src="../Statics/Assets/Media/btnhasf.png" usemap="#image-map">
            <map name="image-map">
                <area target="_self" alt="btnha" title="btnha" href="../Dynamics/php/registroc.php" coords="15,3,321,437" shape="rect">
            </map>
        </div>
        <div id="btnte" >
            <img src="../Statics/Assets/Media/botontepsf.png" usemap="#image-map">
            <map name="image-map">
                <area target="_self" alt="btnha" title="btnha" href="../Dynamics/php/registroc.php" coords="15,3,321,437" shape="rect">
            </map>
        </div>
    </main>
</body>
</html>